<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contact" href="/tabs/contact">
      <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
      <ion-label>Contatos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="cog"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
